---
import { t } from "@/utils/site-text";
import TopicList from "@/components/TopicList";
import Layout from "@/layouts/Layout.astro";
import { getAllTopics } from "@/utils/content";

const topics = (await getAllTopics()).map((topic) => ({
  ...topic.data,
  slug: topic.slug,
}));
---

<Layout title={"Topics | " + t("common.siteTitle")}>
  <div data-pagefind-body>
    <TopicList
      topics={topics}
      labels={{
        filterLabel: t("pages.topics.filterLabel"),
        typesLabel: t("pages.topics.typesLabel"),
        clearFiltersLabel: t("pages.topics.clearFiltersLabel"),
      }}
      client:load
    />
  </div>
</Layout>
