---
import { t } from "@/utils/site-text";
import TopicList from "@/components/TopicList";
import Layout from "@/layouts/Layout.astro";
import { getAllTopics } from "@/utils/content";

const topics = (await getAllTopics()).map((topic) => ({
  ...topic.data,
  slug: topic.slug,
}));
---

<Layout
  title={"Topics | " + t("common.siteTitle")}
  breadcrumbs={[{ label: "Topics", href: "/topics" }]}
>
  <div data-pagefind-body>
    <TopicList
      topics={topics}
      labels={{
        pageTitle: t("pages.topics.pageTitle"),
        pageDescription: t("pages.topics.pageDescription"),
        browseLabel: t("pages.topics.browseLabel"),
        resultsLabel: t("pages.topics.resultsLabel"),
        searchLabel: t("pages.topics.searchLabel"),
        searchPlaceholder: t("pages.topics.searchPlaceholder"),
        typesLabel: t("pages.topics.typesLabel"),
        searchHelperText: t("pages.topics.searchHelperText"),
        clearFiltersLabel: t("pages.topics.clearFiltersLabel"),
        noTopicsFoundLabel: t("pages.topics.noTopicsFoundLabel"),
      }}
      client:load
    />
  </div>
</Layout>
