CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
STORYBLOK_DELIVERY_TOKEN=
STORYBLOK_REGION=eu
STORYBLOK_SPACE_ID=
STORYBLOK_MANAGEMENT_TOKEN=
CALIBRE_SFTP_HOST=
CALIBRE_SFTP_PORT=22
CALIBRE_SFTP_USERNAME=
CALIBRE_SFTP_PASSWORD=
CALIBRE_SFTP_BASE_DIR=books
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
R2_BUCKET=otibeguni-data
R2_ENDPOINT=https://16fea8305facca56431d6f5db696743d.r2.cloudflarestorage.com
BOOKS_PUBLIC_BASE_URL=https://data.otibeguni.com/books/
