---
import dayjs from "dayjs";
import { renderRichText } from "@storyblok/astro";
import MarkdownBreadcrumbLayout from "@/layouts/MarkdownBreadcrumbLayout.astro";
import ArticleBody from "@/components/ArticleBody.astro";
import { getBlogPosts } from "@/utils/storyblok-blog";

export async function getStaticPaths() {
    const blogs = await getBlogPosts();
    return blogs.map((blog) => ({
        params: { slug: blog.slug },
        props: { blog },
    }));
}
const { blog } = Astro.props;
const bodyHtml = renderRichText(blog.content?.body);
---

<MarkdownBreadcrumbLayout
  title={`${blog.title} - Blog | Otibeguni `}
  description={blog.seoDescription || blog.summary}
  breadcrumbs={[
    { label: "Blog", href: "/blog" },
    { label: blog.title },
  ]}
>
  <div data-pagefind-body>
    <ArticleBody>
      {blog.coverImage?.src && (
        <div class="mx-auto mb-6 max-w-xs overflow-hidden rounded-xl sm:max-w-sm">
          <img
            src={blog.coverImage.src}
            alt={blog.coverImage.alt || blog.title}
            class="aspect-square w-full object-cover block"
            loading="lazy"
          />
        </div>
      )}
      <h1 class="mb-4 text-5xl leading-16">{blog.title}</h1>
      <span class="badge badge-soft badge-primary"
        >{dayjs(blog.publishedAt).format("MMM DD YYYY")}</span
      >
      <Fragment set:html={bodyHtml} />
    </ArticleBody>
  </div>
</MarkdownBreadcrumbLayout>
