---
import dayjs from "dayjs";
import type { MarkdownInstance } from "astro";
import { changeLanguage } from "i18next";
import MarkdownBreadcrumbLayout from "@/layouts/MarkdownBreadcrumbLayout.astro";
import ArticleBody from "@/components/ArticleBody.astro";

changeLanguage("en");

export async function getStaticPaths() {
    const blogs = Object.values(import.meta.glob<MarkdownInstance<any>>("~_posts/blog/*.md", {
        eager: true,
    }));
    return blogs?.map((blog) => ({
        params: { slug: blog.frontmatter.slug },
        props: { blog },
    }));
}
const { blog } = Astro.props;
const Content = blog?.default;
const { frontmatter } = blog;
---

<MarkdownBreadcrumbLayout
  title={`${frontmatter?.title} - Stories | Otibeguni `}
  breadcrumbLabels={[{ label: "Blog", href: "/blog" }]}
>
  <ArticleBody>
    <h1 class="mb-4 text-5xl leading-16">{frontmatter?.title}</h1>
    <span class="badge badge-soft badge-primary"
      >{dayjs(frontmatter?.date).format("MMM DD YYYY")}</span
    >
    <Content />
  </ArticleBody>
</MarkdownBreadcrumbLayout>
