---
import { t } from "@/utils/site-text";
import MarkdownBreadcrumbLayout from "@/layouts/MarkdownBreadcrumbLayout.astro";
import BlogPaginatedList from "@/components/blog/BlogPaginatedList";
import { getBlogPosts } from "@/utils/storyblok-blog";

const sortedBlogs = await getBlogPosts();
const blogListItems = sortedBlogs.map(({ id, slug, title, postType, publishedAt, summary, bookmark, coverImage, coverMedia }) => ({
  id,
  slug,
  title,
  postType,
  publishedAt,
  summary,
  bookmark,
  coverImage,
  coverMedia,
}));
---

<MarkdownBreadcrumbLayout
  title={"Blog | " + t("common.siteTitle")}
  description={t("common.siteDescription")}
  breadcrumbs={[{ label: "Blog", href: "/blog" }]}
>
  <div class="not-prose" data-pagefind-body>
    <BlogPaginatedList data={blogListItems} path="blog" client:load />
  </div>
</MarkdownBreadcrumbLayout>
