---
import type { MarkdownInstance } from "astro";
import { changeLanguage, t } from "i18next";
import MarkdownBreadcrumbLayout from "@/layouts/MarkdownBreadcrumbLayout.astro";
import PaginatedList from "@/components/PaginatedList";

changeLanguage("en");

const blogs =
  Object.values(
    import.meta.glob<MarkdownInstance<any>>("@/blog/*.md", {
      eager: true,
    })
  )?.map((blog) => ({
    frontmatter: {
      ...blog.frontmatter,
      coverImage: blog?.frontmatter?.cover_image?.src,
    },
  })) ?? [];
---

<MarkdownBreadcrumbLayout
  title={"Blog | " + t("common.siteTitle")}
  description={t("common.siteDescription")}
  breadcrumbLabels={[{ label: "Blog", href: "/blog" }]}
>
  <div class="space-y-4">
    <PaginatedList data={blogs} path="blog" client:load />
  </div>
</MarkdownBreadcrumbLayout>
