---
import type { MarkdownInstance } from "astro";
import { changeLanguage, t } from "i18next";
import MarkdownBreadcrumbLayout from "@/layouts/MarkdownBreadcrumbLayout.astro";
import PaginatedList from "@/components/PaginatedList";

changeLanguage("en");

const blogs =
  Object.values(
    import.meta.glob<MarkdownInstance<any>>("@/blog/*.md", {
      eager: true,
    })
  )?.map(async (blog) => ({
    ...blog,
    htmlContent: await blog.compiledContent(),
  })) ?? [];

const blogContents = await Promise.all(blogs);
---

<MarkdownBreadcrumbLayout
  title={"Blog | " + t("common.siteTitle")}
  description={t("common.siteDescription")}
  breadcrumbLabels={[{ label: "Blog", href: "/blog" }]}
>
  <div class="space-y-4" data-pagefind-body>
    <PaginatedList data={blogContents} path="blog" client:load />
  </div>
</MarkdownBreadcrumbLayout>
