---
import Layout from "@/layouts/Layout.astro";
import StoryHeader from "../../components/StoryHeader.astro";
import StoryMetadata from "../../components/StoryMetadata.astro";
import ArticleBody from "../../components/ArticleBody.astro";
import { getAllCodexEntries, renderEntry } from "@/utils/content";

export async function getStaticPaths() {
  const stories = await getAllCodexEntries();
  return stories.map((story) => ({
    params: { slug: story.slug },
    props: { story },
  }));
}

const { story } = Astro.props;
const { Content } = await renderEntry(story);
const currentUrl = new URL(Astro.url.pathname, Astro.site).toString();
const schemaData = {
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  name: story.data.title,
  url: currentUrl,
  author: {
    "@type": "Organization",
    name: "Otibeguni",
  },
};
const breadcrumbs = [
  { label: "Codex", href: "/codex" },
  { label: story.data.title },
];
---

<Layout
  title={`${story.data.title} - Codex | Otibeguni `}
  schema={schemaData}
  breadcrumbs={breadcrumbs}
>
  <main class="pb-8 pt-2 md:pb-12 md:pt-3">
    <div class="w-full">
      <article>
        <StoryHeader story={{ ...story.data, slug: story.slug }}>
          <StoryMetadata slot="metadata" category={story.data.category} />
        </StoryHeader>

        <ArticleBody>
          <Content />
        </ArticleBody>
      </article>
    </div>
  </main>
</Layout>
