---
import i18next, { changeLanguage, t } from "i18next";
import StoryList from "@/components/StoryList";
import Layout from "@/layouts/Layout.astro";
import type { IStory } from "@/types";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

changeLanguage("en");

const currentLanguage = i18next.language;
const codexstoriesEn: Array<{
    frontmatter: IStory;
}> = Object.values(import.meta.glob("@/codex/*.md", { eager: true }));
const codex = [...codexstoriesEn];
---

<Layout title={'Codex | ' + t('common.siteTitle')}>
  {/* This is the main container for the page content */}
  <div class="container mx-auto max-w-4xl px-4 py-8">
    <Breadcrumbs menus={[{ label: 'Codex', href: '/codex' }]} />

    <StoryList
      stories={codex}
      lang={currentLanguage}
      labels={{
        filterLabel: t('pages.stories.filterLabel'),
        languageLabel: t('pages.stories.languageLabel'),
        categoryLabel: t('pages.stories.categoryLabel'),
        allCategoryLabel: t('pages.stories.allCategoryLabel'),
      }}
      path="codex"
      client:load
    />
  </div>
</Layout>
