---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Welcome to Otibeguni!</h1>
        <p class="py-6">
          Pioneering Bangladeshi Folklore R&D company dedicated to revitalizing
          interest in Bengali and indigenous folklore.
        </p>
        <a href="/stories" class="btn btn-primary">View Stories</a>
      </div>
    </div>
  </div>
</Layout>
