---
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import Layout from "@/layouts/Layout.astro";

changeLanguage("en");
---

<Layout>
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">{t('pages.home.heroTitle')}</h1>
        <p class="py-6">
          {t('pages.home.heroDescription')}
        </p>
        <a href={localizePath('/stories')} class="btn btn-primary"
          >{t('pages.home.heroCtaLabel')}</a
        >
      </div>
    </div>
  </div>
</Layout>
