---
import { currentLanguage, t } from "@/utils/site-text";
import StoryList from "@/components/StoryList";
import Layout from "@/layouts/Layout.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import StoryCollectionList from "@/components/StoryCollectionList.astro";
import {
  getAllStories,
  getAllStoryCollections,
  getStoryRouteSlug,
  renderEntry,
} from "@/utils/content";

const [storyEntries, collectionEntries] = await Promise.all([
  getAllStories(),
  getAllStoryCollections(),
]);

const stories = storyEntries.map((story) => ({
  frontmatter: { ...story.data, slug: getStoryRouteSlug(story) },
}));

const collections = await Promise.all(
  collectionEntries.map(async (collection) => {
    const { Content } = await renderEntry(collection);
    return {
      frontmatter: { ...collection.data, slug: collection.slug },
      Content,
    };
  }),
);
---

<Layout title={"Stories | " + t("common.siteTitle")}>
  <div class="container mx-auto max-w-4xl px-4 py-8" data-pagefind-ignore>
    <Breadcrumbs menus={[{ label: "Stories", href: "/stories" }]} />

    <StoryCollectionList
      collections={collections}
      stories={stories}
      path="stories"
    />

    <StoryList
      stories={stories}
      lang={currentLanguage}
      labels={{
        filterLabel: t("pages.stories.filterLabel"),
        languageLabel: t("pages.stories.languageLabel"),
        categoryLabel: t("pages.stories.categoryLabel"),
        allCategoryLabel: t("pages.stories.allCategoryLabel"),
      }}
      path="stories"
      client:load
    />
  </div>
</Layout>
