---
import { currentLanguage, t } from "@/utils/site-text";
import StoryList from "@/components/StoryList";
import Layout from "@/layouts/Layout.astro";
import {
  getStoryRouteSlug,
  getResolvedStories,
} from "@/utils/content";

const storyEntries = await getResolvedStories();

const stories = storyEntries.map((story) => ({
  frontmatter: { ...story.data, slug: getStoryRouteSlug(story) },
}));
---

<Layout
  title={"Stories | " + t("common.siteTitle")}
  breadcrumbs={[{ label: "Stories", href: "/stories" }]}
>
  <div class="container mx-auto max-w-4xl px-4 py-8" data-pagefind-ignore>
    <StoryList
      stories={stories}
      lang={currentLanguage}
      labels={{
        filterLabel: t("pages.stories.filterLabel"),
        languageLabel: t("pages.stories.languageLabel"),
        categoryLabel: t("pages.stories.categoryLabel"),
        allCategoryLabel: t("pages.stories.allCategoryLabel"),
      }}
      path="stories"
      client:load
    />
  </div>
</Layout>
