---
import { currentLanguage, t } from "@/utils/site-text";
import StoryList from "@/components/StoryList";
import Layout from "@/layouts/Layout.astro";
import {
  getStoryRouteSlug,
  getResolvedStories,
} from "@/utils/content";

const storyEntries = await getResolvedStories();

const stories = storyEntries.map((story) => ({
  frontmatter: { ...story.data, slug: getStoryRouteSlug(story) },
}));
---

<Layout
  title={"Stories | " + t("common.siteTitle")}
  breadcrumbs={[{ label: "Stories", href: "/stories" }]}
>
  <div data-pagefind-ignore>
    <StoryList
      stories={stories}
      lang={currentLanguage}
      labels={{
        searchLabel: t("pages.stories.searchLabel"),
        searchPlaceholder: t("pages.stories.searchPlaceholder"),
        searchHelperText: t("pages.stories.searchHelperText"),
        clearFiltersLabel: t("pages.stories.clearFiltersLabel"),
        languageLabel: t("pages.stories.languageLabel"),
        categoryLabel: t("pages.stories.categoryLabel"),
        allCategoryLabel: t("pages.stories.allCategoryLabel"),
        noStoriesFoundLabel: t("pages.stories.noStoriesFoundLabel"),
      }}
      path="stories"
      client:load
    />
  </div>
</Layout>
