---
import { localizePath } from 'astro-i18next';
import type { SourceItem } from '@/types';

const { sources } = Astro.props;
---

<div class="py-8">
  <h1 class="text-3xl">Sources</h1>
  <div class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
    {
      sources.map((source: SourceItem) => (
        <div class="card bg-base-100 card-md no-underline shadow-sm transition hover:scale-105">
          <div class="card-body">
            <div class="flex flex-col gap-4">
              <div class="prose-gray flex flex-col">
                <span class="text-xs font-bold">Source</span>
                {source.value || '-'}
              </div>
              <div class="prose-gray flex flex-col">
                <span class="text-xs font-bold">Author</span>
                {source.author || '-'}
              </div>
              {source.library_url && (
                <a
                  href={
                    source.library_url || localizePath(`/books/${source.slug}`)
                  }
                  class="btn btn-neutral btn-xs"
                >
                  Read Online
                </a>
              )}
              {!source.library_url && source.url && (
                <a href={source.url} class="btn btn-neutral btn-xs">
                  Purchase
                </a>
              )}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
