---
const { title, category, slug } = Astro.props;
---

<div class="card bg-base-100 card-md shadow-sm">
  <div class="card-body">
    <a href={`/stories/${slug}`} class="card-title">{title}</a>
    <p>
      {category}
    </p>
  </div>
</div>
