<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost rounded-field">EN</div>
  <ul
    class="menu dropdown-content bg-base-200 text-neutral rounded-box z-1 mt-4 w-52 p-2 shadow-sm"
  >
    <li><a href="/">EN</a></li>
    <li><a href="/bn/">BN</a></li>
  </ul>
</div>
