---
import LanguageSwitcher from '@/components/LanguageSwitcher.astro';
---

<nav class="navbar bg-primary text-primary-content">
  <div class="container mx-auto flex items-center justify-between">
    <a href="/" class="text-xl font-bold">Otibeguni</a>
    <div class="flex grow justify-end px-2">
      <div class="flex items-stretch">
        <a href="/stories" class="btn btn-ghost rounded-field">Stories</a>
        <LanguageSwitcher />
      </div>
    </div>
  </div>
</nav>
