---
import { t } from 'i18next';
import { localizePath } from 'astro-i18next';
---

<nav class="navbar bg-primary text-primary-content">
  <div class="container mx-auto flex items-center justify-between">
    <a href={localizePath('/')} class="btn btn-primary text-xl font-bold">
      Otibeguni
    </a>
    <div class="flex grow justify-end px-2">
      <div class="flex items-stretch">
        <a
          href={localizePath('/stories')}
          class="btn btn-primary rounded-field"
        >
          {t('header.navStories')}
        </a>
        <a href={localizePath('/topics')} class="btn btn-primary rounded-field">
          {t('header.navTopics')}
        </a>
        <a href={localizePath('/books')} class="btn btn-primary rounded-field">
          {t('header.navBooks')}
        </a>
      </div>
    </div>
  </div>
</nav>
