---
import Layout from "@/layouts/Layout.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import StoryCollectionList from "@/components/StoryCollectionList.astro";
import {
  getAllStories,
  getAllStoryCollections,
  renderEntry,
} from "@/utils/content";

export async function getStaticPaths() {
  const collections = await getAllStoryCollections();
  return collections.map((collection) => ({
    params: { slug: collection.slug },
    props: { collection },
  }));
}

const { collection } = Astro.props;
const { Content } = await renderEntry(collection);
const stories = (await getAllStories()).map((story) => ({
  frontmatter: { ...story.data, slug: story.slug },
}));
---

<Layout title={`${collection.data.title} - Story Collection | Otibeguni `}>
  <div class="container mx-auto max-w-4xl px-4 py-8">
    <Breadcrumbs
      menus={[{ label: "Stories", href: "/stories" }, { label: "Collection" }]}
    />

    <StoryCollectionList
      collections={[{ frontmatter: { ...collection.data, slug: collection.slug }, Content }]}
      stories={stories}
      path="stories"
    />
  </div>
</Layout>
