---
import i18next, { t } from 'i18next';
import { HeadHrefLangs } from 'astro-i18next/components';
import { Schema } from 'astro-seo-schema';
import '@/styles/global.css';
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';

const currentLanguage = i18next.language;

const { schema = null, title = null, description = null } = Astro.props;
---

<!doctype html>
<html lang={currentLanguage}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? t('common.siteTitle')}</title>
    <meta
      name="description"
      content={description ?? t('common.siteDescription')}
    />
    <HeadHrefLangs />
    {schema && <Schema item={schema} />}
  </head>
  <body>
    <Navbar />
    <main class="container mx-auto py-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>
